@model Product



<button class="product-card__quickview" data-id="@Model.Id" type="button">
    <svg width="16px" height="16px">
        <use xlink:href="/images/sprite.svg#quickview-16"></use>
    </svg> <span class="fake-svg-icon"></span>
</button>
<div class="product-card__badges-list">
    <div class="product-card__badge product-card__badge--@Model.Status.Name.ToLower()">@Model.Status.Name</div>
</div>
<div class="product-card__image">
    <a asp-controller="Home" asp-action="Single" asp-route-id="@Model.Id">
        <img src="~/images/products/@Model.Image" alt="">
    </a>
</div>
<div class="product-card__info">
    <div class="product-card__name">
        <a asp-controller="Home" asp-action="Single" asp-route-id="@Model.Id">
            @Model.Name
        </a>
    </div>
    <div class="product-card__rating">
        <div class="rating">
            <div class="rating">
                <div class="rating__body">
                    @for (int i = 0; i < 5; i++)
                    {
                        <svg class="rating__star @(i<Model.Stars ? "rating__star--active":"")" width="13px"
                         height="12px">
                            <g class="rating__fill">
                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                            </g>
                            <g class="rating__stroke">
                                <use xlink:href="/images/sprite.svg#star-normal-stroke">
                                </use>
                            </g>
                        </svg>
                        <div class="rating__star rating__star--only-edge @(i<Model.Stars ? "rating__star--active":"")">
                            <div class="rating__fill">
                                <div class="fake-svg-icon"></div>
                            </div>
                            <div class="rating__stroke">
                                <div class="fake-svg-icon"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="product-card__rating-legend">@Model.ReviewCount Reviews</div>
    </div>
    <div class="product-card__features-list">
        @Model.MiniDecription
    </div>
</div>
<div class="product-card__actions">
    <div class="product-card__prices">
        @if (Model.OldPrice == null)
        {
            <span>$@Model.CurrentPrice</span>
        }
        else
        {
            <span class="product-card__new-price">$@Model.CurrentPrice</span> <span class="product-card__old-price">$@Model.OldPrice</span>
        }
    </div>
    <div class="product-card__buttons">
        <button class="btn btn-primary product-card__addtocart" type="button">
            Add To
            Cart
        </button> 
        <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg  product-card__wishlist"
                         data-toggle="tooltip" title="Wishlist" type="button">
            <svg width="16px" height="16px">
                <use xlink:href="/images/sprite.svg#wishlist-16"></use>
            </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
        </button>
        <button data-id="@Model.Id" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg btn_compare_index product-card__compare"
             data-toggle="tooltip" title="Compare"   type="button">
            <svg width="16px" height="16px">
                <use xlink:href="/images/sprite.svg#compare-16"></use>
            </svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
        </button>
    </div>
</div>
