@model BlogVM

<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index">Home</a>
                            <svg class="breadcrumb-arrow"
                                 width="6px" height="9px">
                                <use xlink:href="/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/Blog/Index">Blog</a>
                            <svg class="breadcrumb-arrow"
                                 width="6px" height="9px">
                                <use xlink:href="/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Blog.Category.Name</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="block post post--layout--classic">
                    <div class="post__header post-header post-header--layout--classic">
                        <div class="post-header__categories"><a href="/BlogAsistant/BlogListByCategory/@Model.Blog.Category.Id">@Model.Blog.Category.Name</a></div>
                        <h1 class="post-header__title">
                            @Model.Blog.Title
                        </h1>
                        <div class="post-header__meta">
                            <div class="post-header__meta-item">By <a href="#">@Model.Blog.User.FullName</a></div>
                            <div class="post-header__meta-item">@Model.Blog.Date.ToString("M"), @Model.Blog.Date.Year</div>
                            <div class="post-header__meta-item"><a href="#comment_header">@Model.CommentCount Comments</a></div>
                        </div>
                    </div>
                    <div class="post__featured"><a href="~/images/posts/@Model.Blog.Image"><img src="~/images/posts/@Model.Blog.Image" alt=""></a></div>
                    <div class="post__content typography">
                        @Html.Raw(Model.Blog.Detail.Description)
                    </div>
                    <div class="post__footer">
                        <div class="post__tags-share-links">
                            <div class="post__tags tags">
                                <div class="tags__list">
                                    @foreach (var item in Model.Tags)
                                    {
                                        <a href="/BlogAsistant/BlogListByTag/@item.Id">@item.Name</a>
                                    }
                                </div>
                            </div>
                            <div class="post__share-links share-links">
                                <ul class="share-links__list">
                                    @*<li class="share-links__item share-links__item--type--like"><a
                                        href="#">Like</a></li>
                                        <li class="share-links__item share-links__item--type--tweet"><a
                                        href="#">Tweet</a></li>
                                        <li class="share-links__item share-links__item--type--pin"><a href="#">Pin
                                        It</a></li>
                                        <li class="share-links__item share-links__item--type--counter"><a
                                        href="#">4K</a></li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="post-author">
                            <div class="post-author__avatar">
                                <a href="#">
                                    <img src="~/images/avatars/@Model.Blog.User.Image"
                                         alt="">
                                </a>
                            </div>
                            <div class="post-author__info">
                                <div class="post-author__name"><a href="#">@Model.Blog.User.FullName</a></div>
                                <div class="post-author__about">@Model.Blog.User.Description</div>
                            </div>
                        </div>
                    </div>
                    <section class="post__section">
                        @await Component.InvokeAsync("RelatedBlog",Model.Blog.CategoryId)
                    </section>
                    <section class="post__section">
                        <h4 id="comment_header" class="post__section-title">Comments (@Model.CommentCount)</h4>
                        <ol class="comments-list comments-list--level--0">

                            @foreach (var item in Model.Comments)
                            {
                                <li class="comments-list__item">
                                    <div class="comment">
                                        <div class="comment__avatar">
                                            <a href="#">
                                                <img src="~/images/avatars/@item.User.Image" alt="">
                                            </a>
                                        </div>
                                        <div class="comment__content">
                                            <div class="comment__header">
                                                <div class="comment__author"><a href="#">@item.User.FullName</a></div>
                                                <div class="comment__reply">
                                                    <button type="button"
                                                        class="btn btn-xs btn-light">
                                                        Reply
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="comment__text">
                                                @item.Description
                                            </div>
                                            <div class="comment__date">@item.Date.ToString("M"), @item.Date.Year</div>
                                        </div>
                                    </div>
                                    @if(item.IsChild)
                                    {
                                    <button class="btn float-right btn-primary">See More Answer</button>
                                    <div class="clearfix"></div>
                                    }
                                </li>
                            }
                        </ol>
                    </section>
                    <section class="post__section">
                        <h4 class="post__section-title">Write A Comment</h4>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="comment-first-name">
                                        First
                                        Name
                                    </label> <input type="text" class="form-control"
                                                    id="comment-first-name" placeholder="First Name">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="comment-last-name">
                                        Last
                                        Name
                                    </label> <input type="text" class="form-control"
                                                    id="comment-last-name" placeholder="Last Name">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="comment-email">
                                        Email
                                        Address
                                    </label> <input type="email" class="form-control"
                                                    id="comment-email" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comment-content">Comment</label> <textarea class="form-control" id="comment-content" rows="6"></textarea>
                            </div>
                            <div class="form-group mt-4">
                                <button type="submit"
                                        class="btn btn-primary btn-lg">
                                    Post Comment
                                </button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                @await Component.InvokeAsync("BlogRightSideBar")
            </div>
        </div>
    </div>
</div>