@model IList<Blog>

<h4 class="post__section-title">Related Posts</h4>
<div class="related-posts">
    <div class="related-posts__list">
        @foreach (var item in Model)
        {
            <div class="related-posts__item post-card post-card--layout--related">
                <div class="post-card__image">
                    <a asp-controller="BLog" asp-action="Single" asp-route-id="@item.Id">
                        <img src="~/images/posts/@item.Image"
                         alt="">
                    </a>
                </div>
                <div class="post-card__info">
                    <div class="post-card__name">
                        <a asp-controller="BLog" asp-action="Single" asp-route-id="@item.Id">
                            @item.Title
                        </a>
                    </div>
                    <div class="post-card__date">@item.Date.ToString("M"), @item.Date.Year</div>
                </div>
            </div>
        }


    </div>
</div>

