@model SingleVM

<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">

                            <a href="index.html">Home</a>
                            <svg class="breadcrumb-arrow"
                                 width="6px" height="9px">
                                <use xlink:href="/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>

                        </li>
                        <li class="breadcrumb-item">

                            <a href="#">Product</a>
                            <svg class="breadcrumb-arrow"
                                 width="6px" height="9px">
                                <use xlink:href="/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>

                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Model.Product.Name
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="product product--layout--standard" data-layout="standard">
                <div class="product__content">
                    <!-- .product__gallery -->
                    <div class="product__gallery">
                        <div class="product-gallery">
                            <div class="product-gallery__featured">
                                <div class="owl-carousel" id="product-image">
                                    <a href="/images/products/@Model.Product.Image" target="_blank">
                                        <img src="~/images/products/@Model.Product.Image" alt="">
                                    </a>
                                    @foreach (var item in Model.Product.ProductDetail.ProductImages)
                                    {
                                        <a href="/images/products/@item.Name" target="_blank">
                                            <img src="~/images/products/@item.Name" alt="">
                                        </a>
                                    }
                                </div>
                            </div>
                            <div class="product-gallery__carousel">
                                <div class="owl-carousel" id="product-carousel">

                                    <a href="#" class="product-gallery__carousel-item">

                                        <img class="product-gallery__carousel-image"
                                             src="~/images/products/@Model.Product.Image" alt="">
                                    </a>
                                    @foreach (var item in Model.Product.ProductDetail.ProductImages)
                                    {
                                        <a href="#" class="product-gallery__carousel-item">
                                            <img class="product-gallery__carousel-image" src="~/images/products/@item.Name" alt="">
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div><!-- .product__gallery / end -->
                    <!-- .product__info -->
                    <div class="product__info">
                        <h1 class="product__name">@Model.Product.Name</h1>
                        <div class="product__rating">
                            <div class="product__rating-stars">
                                <div class="rating">
                                    <div class="rating__body">

                                        <svg class="rating__star rating__star--active"
                                             width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px"
                                                   height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px"
                                                   height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px"
                                                   height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px"
                                                   height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__rating-legend">
                                <a>@Model.ReviewCount Reviews</a>@*<span>/</span><a>Write A Review</a>*@
                            </div>
                        </div>
                        <div class="product__description">
                            @Model.Product.MiniDecription
                        </div>
                    </div><!-- .product__info / end -->
                    <!-- .product__sidebar -->
                    <div class="product__sidebar">
                        <div class="product__availability">
                            Availability:
                            @if (Model.Stocks.Any(x => x.Count > 0))
                            {
                                <span class="text-success">
                                    In
                                    Stock
                                </span>
                            }
                            else
                            {
                                <span class="text-danger">
                                    Not in Stock
                                </span>
                            }
                        </div>
                        <div class="product__prices">
                            @if (Model.Product.OldPrice == null)
                            {
                                <span>$@Model.Product.CurrentPrice</span>
                            }
                            else
                            {
                                <span class="product-card__new-price">$@Model.Product.CurrentPrice</span> <span class="product-card__old-price">$@Model.Product.OldPrice</span>
                            }
                        </div><!-- .product__options -->
                        <form class="product__options">
                            <div class="form-group product__option">

                                <label class="product__option-label">Color</label>
                                <div class="input-radio-color">
                                    <div class="input-radio-color__list">

                                        @{
                                            int materialId = Model.Stocks.Select(x => x.MaterialId).First();
                                        }

                                        @foreach (var item in Model.Stocks.Where(dr => dr.MaterialId == materialId))
                                        {
                                            <label class="input-radio-color__item @(item.Count > 0 ? "":"input-radio-color__item--disabled")" style="color:@item.Color.Code;" data-toggle="tooltip" title="@item.Color.Name">
                                                <input type="radio" @(item.Count > 0 ? "":"disabled='disabled'") name="color"> <span></span>
                                            </label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="form-group product__option">

                                <label class="product__option-label">Material</label>
                                <div class="input-radio-label">
                                    <div class="input-radio-label__list">

                                        @{
                                            var arr = @Model.Stocks
                                            .GroupBy(x => x.Material)
                                            .Select(x => x.First())
                                            .Select(x => x.Material).ToArray();
                                        }

                                        <label>
                                            <input type="radio" data-id="@arr[0].Id" class="detail_material_change" checked name="material"> <span>@arr[0].Name</span>
                                        </label>

                                        @for (var i = 1; i < arr.Length; i++)
                                        {
                                            <label>
                                                <input type="radio" data-id="@arr[i].Id" class="detail_material_change" name="material"> <span>@arr[i].Name</span>
                                            </label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="form-group product__option">

                                <label class="product__option-label"
                                       for="product-quantity">Quantity</label>
                                <div class="product__actions">
                                    <div class="product__actions-item">
                                        <div class="input-number product__quantity">

                                            <input id="product-quantity"
                                                   class="input-number__input form-control form-control-lg"
                                                   type="number" min="1" value="1">
                                            <div class="input-number__add"></div>
                                            <div class="input-number__sub"></div>
                                        </div>
                                    </div>
                                    <div class="product__actions-item product__actions-item--addtocart">

                                        <button class="btn btn-primary btn-lg">

                                            Add to cart

                                        </button>

                                    </div>
                                    <div class="product__actions-item product__actions-item--wishlist">

                                        <button type="button" class="btn btn-secondary btn-svg-icon btn-lg"
                                                data-toggle="tooltip" title="Wishlist">

                                            <svg width="16px"
                                                 height="16px">
                                                <use xlink:href="/images/sprite.svg#wishlist-16"></use>
                                            </svg>

                                        </button>

                                    </div>
                                    <div class="product__actions-item product__actions-item--compare">

                                        <button type="button" class="btn btn-secondary btn-svg-icon btn-lg"
                                                data-toggle="tooltip" title="Compare">

                                            <svg width="16px"
                                                 height="16px">
                                                <use xlink:href="/images/sprite.svg#compare-16"></use>
                                            </svg>

                                        </button>

                                    </div>
                                </div>
                            </div>
                        </form><!-- .product__options / end -->
                    </div><!-- .product__end -->
                    <div class="product__footer">
                        <div class="product__tags tags">
                            <div class="tags__list">

                                @foreach (var item in Model.SubCategories)
                                {
                                    <a href="#">@item.Name</a>
                                }
                                @foreach (var item in Model.Categories)
                                {
                                    <a href="#">@item.Name</a>
                                }
                            </div>
                        </div>
                        <div class="product__share-links share-links">
                            <ul class="share-links__list">
                                <li class="share-links__item share-links__item--type--like">

                                    <a href="#">Like</a>
                                </li>
                                <li class="share-links__item share-links__item--type--tweet">

                                    <a href="#">Tweet</a>

                                </li>
                                <li class="share-links__item share-links__item--type--pin">

                                    <a href="#">

                                        Pin
                                        It

                                    </a>

                                </li>
                                <li class="share-links__item share-links__item--type--counter">

                                    <a href="#">4K</a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-tabs">
                <div class="product-tabs__list">
                    <a href="#tab-description" class="product-tabs__item product-tabs__item--active">Description</a>
                    <a href="#tab-specification" class="product-tabs__item">Specification</a>
                    <a href="#tab-reviews" class="product-tabs__item">Reviews</a>
                </div>
                <div class="product-tabs__content">
                    <div class="product-tabs__pane product-tabs__pane--active" id="tab-description">
                        <div class="typography">
                            @Html.Raw(Model.Product.ProductDetail.DescriptionFull)
                        </div>
                    </div>
                    <div class="product-tabs__pane" id="tab-specification">
                        <div class="spec">
                            <h3 class="spec__header">Specification</h3>
                            <div class="spec__section">
                                @Html.Raw(Model.Product.ProductDetail.Specification)
                            </div>
                        </div>
                    </div>
                    <div class="product-tabs__pane" id="tab-reviews">
                        <div class="reviews-view">
                            <div class="reviews-view__list">
                                <h3 class="reviews-view__header">@(Model.ReviewCount == 0 ?"No":"") Customer Reviews </h3>
                                <div class="reviews-list">
                                    <ol class="reviews-list__content">

                                        @foreach (var item in Model.Reviews)
                                        {
                                            <li class="reviews-list__item">
                                                <div class="review">
                                                    <div class="review__avatar">

                                                        <img src="~/images/avatars/@item.User.Image" alt="">

                                                    </div>
                                                    <div class="review__content">
                                                        <div class="review__author">@item.User.UserName</div>
                                                        <div class="review__rating">
                                                            <div class="rating">
                                                                <div class="rating__body">
                                                                    @for (int i = 0; i < 5; i++)
                                                                    {
                                                                        <svg class="rating__star @(i<item.Stars ? "rating__star--active":"")" width="13px"
                                                                     height="12px">
                                                                            <g class="rating__fill">
                                                                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                                            </g>
                                                                            <g class="rating__stroke">
                                                                                <use xlink:href="/images/sprite.svg#star-normal-stroke">
                                                                                </use>
                                                                            </g>
                                                                        </svg>
                                                                        <div class="rating__star rating__star--only-edge @(i<item.Stars ? "rating__star--active":"")">
                                                                            <div class="rating__fill">
                                                                                <div class="fake-svg-icon"></div>
                                                                            </div>
                                                                            <div class="rating__stroke">
                                                                                <div class="fake-svg-icon"></div>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="review__text">
                                                            @item.Content
                                                        </div>
                                                        <div class="review__date">@item.Date.ToString("M"), @item.Date.Year</div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ol>

                                    @if (Model.ReviewCount != 0)
                                    {
                                        <div class="reviews-list__pagination">
                                            <ul class="pagination justify-content-center">

                                                <li class="page-item disabled">

                                                    <a class="page-link page-link--with-arrow"
                                                   aria-label="Previous">

                                                        <svg class="page-link__arrow page-link__arrow--left"
                                                         aria-hidden="true" width="8px" height="13px">
                                                            <use xlink:href="/images/sprite.svg#arrow-rounded-left-8x13">
                                                            </use>
                                                        </svg>

                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link">1</a></li>
                                                @{
                                                    int totalPage = (int)Math.Ceiling(Model.ReviewCount / ((double)5));
                                                }
                                                @for (var i = 2; i <= totalPage; i++)
                                                {
                                                    <li class="page-item"><a data-index="@i" class="page-link">@i</a></li>
                                                }

                                                <li class="page-item @(totalPage > 1? "":"disabled")">

                                                    <a data-index="2" class="page-link page-link--with-arrow"
                                                   aria-label="Next">

                                                        <svg class="page-link__arrow page-link__arrow--right"
                                                         aria-hidden="true" width="8px" height="13px">
                                                            <use xlink:href="/images/sprite.svg#arrow-rounded-right-8x13">
                                                            </use>
                                                        </svg>
                                                    </a>

                                                </li>
                                            </ul>
                                        </div>
                                    }


                                </div>
                            </div>
                            <form id="review_form_single" class="reviews-view__form">
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="product_id" value="@Model.Product.Id" />
                                <input type="hidden" id="user_name" value="@User.Identity.Name" />
                                <h3 class="reviews-view__header">Write A Review</h3>
                                <div class="row">
                                    <div class="col-12 col-lg-9 col-xl-8">
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="review-stars">

                                                    Review
                                                    Stars
                                                </label>
                                                <select id="review-stars" class="form-control">
                                                    <option value="5">5 Stars Rating</option>
                                                    <option value="4">4 Stars Rating</option>
                                                    <option value="3">3 Stars Rating</option>
                                                    <option value="2">2 Stars Rating</option>
                                                    <option value="1">1 Stars Rating</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="review-text">Your Review</label>
                                            <textarea class="form-control" id="review-text" rows="6"></textarea>
                                        </div>
                                        <div class="my-3">
                                            <span class="text-danger" id="error_txt"></span>
                                        </div>
                                        <div class="form-group mb-0">

                                            <button type="submit"
                                                    class="btn btn-primary btn-lg">
                                                Post Your Review
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .block-products-carousel -->
    @await Component.InvokeAsync("SinglePoductCarousel",Model.Categories.First())

    <input type="hidden" id="sessionData" value="@ViewBag.SessionStrig" />
</div>

@section script{

@*Session Save*@
<script>
    $(document).ready(()=>{
       let sessionData = $("#sessionData").val();
       if(sessionData != null && sessionData != undefined ){
           sessionStorage.setItem("DetailMatrial",sessionData)
       }
    })
</script>

@*Matrial Change Prosses*@
<script>
    $(document).ready(()=>{
      $(document).on("click",".detail_material_change",(e)=>{
         let id = $(e.currentTarget).attr("data-id");

         let data = JSON.parse(sessionStorage.getItem("DetailMatrial"))
         let colors = data.filter(x=>x.MaterialId == id)
         let html = "";
             for (let i = 0; i < colors.length; i++) {
                html = html + ` <label class="input-radio-color__item `

                if (!colors[i].IsStock) {
                    html = html + ` input-radio-color__item--disabled `
                }
                html = html +                          `" style="color:${colors[i].Code};" data-toggle="tooltip" title="${colors[i].Name}">
                                    <input type="radio" value="color:${colors[i].id}"`
                if (!colors[i].IsStock) {
                    html = html + ` disabled="disabled" `
                }
                html = html +                          ` name="color"> <span></span>
                                </label>`
             }
         $(".input-radio-color__list").html(html)
      })
    })
</script>


@*Send User Review*@
<script>
    $(document).ready(()=>{
        $(document).on("submit","#review_form_single",(e)=>{
            e.preventDefault();
            let star = $("#review-stars").val()
            let comment = $("#review-text").val()
            let productId = $("#product_id").val()
            let userId = $("#user_name").val();
            let errorElement = $("#error_txt")

            if(userId == undefined || userId ==null) {
                errorElement.text("Please login.")
                return;
            }

            if(comment==undefined || comment ==null || comment.length < 3 ){
                 errorElement.text("Please Write Somesing.")
                return ;
            }

            if(comment.trim().length < 3 ){
                errorElement.text("Please Write Somesing.")
                return ;
            }

            errorElement.text("")
            let wait = Swal.fire({
                   title: 'Give me a second.',
                   text: '"',
                   imageUrl: 'https://media.giphy.com/media/xTkcEQACH24SMPxIQg/giphy.gif',
                   imageWidth: 400,
                   imageHeight: 350,
                   imageAlt: 'Loading',
               })


            $.ajax({
                   url: '/ProductReview/Create',
                   headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    },
                   type: 'POST',
                   data: { UserId: userId, Content: comment, ProductId: productId,Stars:star },
                   success: (response) => {
                       if (response.hasOwnProperty('status') && response.status === 201) {
                           // Comment Success
                           wait.close()
                           Swal.fire(
                               'Comment Accept',
                               '',
                               'success'
                           )
                           // Reload
                           setTimeout(() => {
                               location.reload();
                           }, 2000)

                       } else if (response.status == 403) {
                           wait.close()
                           Swal.fire(
                               'Plase Sign In',
                               '',
                               'error'
                           )
                       } else {
                           wait.close()
                           Swal.fire(
                               'Not Added',
                               '',
                               'error'
                           )
                       }
                   }
               })



        })


    })
</script>


@*Validate Loading Pagination*@
<script>
    function IsActivElemtn(btn){
        let resault = false;

        let classList = $(btn).parent().attr('class').split(" ")
        for(let i = 0; i < classList.length; i++){
            if(classList[i] == "active" || classList[i] == "disabled"){
                resault = true;
                return resault;
            }
        }
        return resault;
    }
</script>


@*Genarate Review HTML*@
<script>
    function GenrateReviewHTML(response){
        $(".reviews-list__content").html("")
        response.forEach(e=>{
            let date = new Date(e.date).toDateString()
            let html =`
                 <li class="reviews-list__item">
                    <div class="review">
                        <div class="review__avatar">

                            <img src="/images/avatars/${e.image}" alt="">

                        </div>
                        <div class="review__content">
                            <div class="review__author">${e.userName}</div>
                            <div class="review__rating">
                                <div class="rating">
                                    <div class="rating__body">`


                    for (let i = 0; i < 5; i++) {
                            html = html + ` <svg class="rating__star`

                            if (i < e.stars) {
                                html = html + ` rating__star--active`
                            }

                            html = html + `" width="13px"
                                                height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="/images/sprite.svg#star-normal-stroke">
                                                            </use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge `

                            if (i < e.stars) {
                                html = html + ` rating__star--active`
                            }

                            html = html +`">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div>`
                    }



                    html = html  +          ` </div>
                                </div>
                            </div>
                            <div class="review__text">
                                ${e.content}
                            </div>
                            <div class="review__date">${date.substring(3,date.length)}</div>
                        </div>
                    </div>
                </li>
            `
            $(".reviews-list__content").append(html)

        })
    }
</script>


@*Genrate Pagination*@
<script>
    function GeneratePagination(pageIndex,TotalPage){
        pageIndex = new Number(pageIndex)
        TotalPage = new Number(TotalPage)
        let html = `
                    <div class="posts-view__pagination">
                    <ul class="pagination justify-content-center">
                     <li class="page-item `

            if(pageIndex == 1 ){
                html = html + ` disabled `
            }



            html = html +    `">
                <a data-index="${pageIndex - 1}" class="page-link page-link--with-arrow" aria-label="Previous">
                    <svg class="page-link__arrow page-link__arrow--left" aria-hidden="true"
                         width="8px" height="13px">
                        <use xlink:href="/images/sprite.svg#arrow-rounded-left-8x13"></use>
                    </svg>
                </a>
            </li>`


            for (let i = 1; i <= TotalPage; i++)
            {

              html =  html +   `<li class="page-item `

               if(i == pageIndex){
                    html = html + `active`
                }

                  html = html +             `">
                                    <a class="page-link"  data-index="${i}">
                                        ${i}
                                    </a>
                                </li>`
            }


            html = html + `<li class="page-item `

             if(!(pageIndex < TotalPage)){
                html = html + `disabled`
            }

           html = html + `">
                    <a class="page-link page-link--with-arrow"  data-index="${pageIndex + 1}"
                       aria-label="Next">
                        <svg class="page-link__arrow page-link__arrow--right"
                             aria-hidden="true" width="8px" height="13px">
                            <use xlink:href="/images/sprite.svg#arrow-rounded-right-8x13"></use>
                        </svg>
                    </a>
                    </li>
                        </ul>
                    </div>
                            `

            $(".pagination").html(html)
    }
</script>


@*Load Pagination*@
<script>
    $(document).ready(()=>{
         $(document).on("click",".page-link",(e)=>{
             if(IsActivElemtn(e.currentTarget) ){
                 return;
             }

            let productId = $("#product_id").val()
            let index = $(e.currentTarget).data("index")


             let wait = Swal.fire({
                   title: 'Give me a second.',
                   text: '"',
                   imageUrl: 'https://media.giphy.com/media/xTkcEQACH24SMPxIQg/giphy.gif',
                   imageWidth: 400,
                   imageHeight: 350,
                   imageAlt: 'Loading',
               })


             $.ajax({
                 url:`/ProductReview/LoadMore/${productId}/${index}`,
                 type:"GET",
                 success:(ressponse)=>{
                     if(ressponse.hasOwnProperty("status") && ressponse.status == 422){
                          wait.close()
                           Swal.fire(
                               'We have Some Problem.',
                               '',
                               'error'
                           )

                     }else{
                        wait.close();
                        GenrateReviewHTML(ressponse);
                        let count = $(".page-item").length - 2;
                        GeneratePagination(index,count)
                     }
                 }

             })


         })
    })
</script>




}